.form{
  padding: 20px;
}

.inputField {
  background: var(--grey-color);
  border-radius: 16px;
  padding: 16px;
  box-shadow: none;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 122%;
  margin-top: 48px;
  margin-bottom: 56px;
}

.label {
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--darkest-grey);
  width: 496px;
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
